/* .container {
	background-color: red; */
/* } */
.container.notActive {
	background-color: red;
}
.container.active {
	background-color: green;
}
.container img {
	width: 150px;
}

.container {
	width: 300px;
	img {
		width: 200px;
	}
}
